---
  layout: en
---

%h1 All works
%menu
  %li
    %a{:href => "/audio"}
      Audio
  %li
    %a{:href => "/video"}
      Video
  %li
    %a{:href => "/production"}
      Production

%ul.grid
{% for post in site.categories.en %}{% unless post.skippable %}
{% include post.haml %}
{% endunless %}{% endfor %}