%html
  %head
    %title
      {{page | to_title: "Sound engineer"}}
      &mdash; Alexandr Fedorov

    %base{:href => "/"}
    :javascript
      var path = location.pathname;
      if (path.indexOf('/output/') > -1) {
        var base = document.getElementsByTagName('base')[0];
        var languages = /(?:\/|^)(en|ru|de)\//;
        var language = (path.match(languages) || [null, null])[1];
        var root = language 
          ? path.split(language)[0] 
          : path.split('/output/')[0] + '/output/';
        base.setAttribute('href', root);
      }
    %script{:src => "javascripts/script.js"}
    %link{:rel => "stylesheet", :href => "stylesheets/screen.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic"}

    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
  %body{:class => "{{page | to_class}}"}
    #root
      %header
        %section
          .left
            %h1 
              %a{:href => "/about/"} Alexandr Fedorov 
              %span<> 
                , 
                %a{:href => "/about/profession/"} sound engineer

            %nav
              %menu
                %li.selected
                  %a{:href => "/"}
                    Works              
                %li
                  %a{:href => "/about/services/"}
                    Services
                %li
                  %a{:href => "/about/"}
                    Resume
                %li
                  %a.russian.language{:href => "{{page.url | to_language: 'ru'}}"}<
                    по-русски
                  %a.russian.language.icon{:href => "{{page.url | to_language: 'ru'}}"}<>
          %address
            %dl
              %dt.tel
                tel:
              %dd
                +79044749621
              %dt.email
                email: 
              %dd
                %a{:href => "#"} me@alexandrfedorov.com


      .contact#contact{:hidden => true}
        %section
          %form
            %fieldset
              %span.error I'd like to know your name
              %label{:for => :name} Your name
              %input#name
            %fieldset
              %span.error How can I reach you back?
              %label{:for => :email} Email
              %input#email
            %fieldset
              %label{:for => :phone} Telephone
              %input#phone

            %fieldset
              %label{:for => :subject}
                Subject
              %select
                %option
                %option Work
                %option Education
                %option Information
            %fieldset
              %span.error Please, elaborate
              %label{:for => :message} Message
              %textarea#message{:rows => 5, :required => true}
          %section.bar
            %a.cancel{:href => "#", :rel => "uncontact"}<>
              Cancel
            %a.button{:href => "#contact", :rel => "contact"}
              %span
                Contact 
                %span.verbose me now


        

      .introduction
        %section
          %blockquote
            A
            %a{:href => "/about/profession/"} profession 
            sound engineer has come a long way from being a 
            %a{:href => "/about/technology/"} purely technical
            process of 
            %a{:href => "/about/recording/"} audio recording
            to a fully
            %a{:href => "/about/services/"} creative participation
            in the process of 
            %a{:href => "/about/sound/"} making art
      %main
        %section
          {{content}}
      #footer-pusher
    %footer
      %p 
        %a{:href => "/about/"}
          Since 1957 and going strong
      %menu
        %li.selected
          %a{:href => "/"}
            Works              
        %li
          %a{:href => "/about/services/"}
            Services
        %li
          %a{:href => "/about/"}
            About me
        %li
          %a.russian.language{:href => "/ru/"}<
            по-русски
          %a.russian.language.icon{:href => "/ru/"}<>

%script
  document.ondomready();