%html
	%head
		%title
			{{page.title}}

		%base{:href => "/"}
		%script
			if (location.protocol == 'file:' || location.pathname.indexOf('output') > -1) {
			var base = document.getElementsByTagName('base')[0]
			base.setAttribute('href', '.')
			}
		%link{:rel => "stylesheet", :href => "stylesheets/screen.css"}
		%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic"}

		%meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
	%body
		#root
			%header
				%section
					%address
						%dl
							%dt.tel
								tel:
							%dd
								+73452300235
							%dt.email
								email: 
							%dd
								%a{:href => "#"} alexandr.fedorov@gmail.com
					%h1 
						Alexandr Fedorov 
						%span<> , a sound magiciain

					%nav
						%menu
							%li.selected
								%a{:href => "/"}
									Portfolio							
							%li
								%a{:href => "/"}
									Services
							%li
								%a{:href => "/"}
									About me
							%li
								%a.russian.language{:href => "/"}
									По-русски
								%a.russian.language.icon{:href => "/"}<>
				.player.compact{:hidden => true}
					%section
						.progress{:max => 100, :value => 50}
							%strong
								Super long nails - Right where it belongs
							.bar
						.more
							%p 
								0:07 
								%span /
								4:05
						%a.button
						%a.button


			.contact#contact{:hidden => true}
				%section
					%form
						%fieldset
							%label{:for => :name} Your name
							%input#name
							%span.error I'd like to know your name
						%fieldset
							%label{:for => :email} Email
							%input#email
							%span.error How can I reach you back?
						%fieldset
							%label{:for => :phone} Telephone
							%input#phone

						%fieldset
							%label{:for => :subject}
								I want you to
							%select
								%option
								%option DO some work for me
								%option TUTOR me in the sound craft 
								%option TELL me more about your services
						%fieldset
							%label{:for => :message} Message
							%textarea#message{:rows => 5, :required => true}
							%span.error Please, elaborate
					%section.bar
						%a.cancel{:href => "#", :rel => "uncontact"}<>
							Cancel
						%a.button{:href => "#contact", :rel => "contact"}
							%span
								Contact me now


				

			.introduction
				%section
					{{content}}

			%main
				%section
					%menu
						%li.selected
							%a{:href => "/"}
								Everything
						%li
							%a{:href => "/"}
								Audio
						%li
							%a{:href => "/"}
								Video
						%li
							%a{:href => "/"}
								Production

					%ul.grid
						%li.video.selected
							%h2 
								%a{:href => "#"} In the skies
							%a.play.button{:href => "#"}
							%video
							%dl
								%dt Author & performer
								%dd{:title => "4th Grushensky Festival Winner"} Anvar Ismagilov
								%dt Guitar
								%dd Andrey Zloyan
								%dt Keyboard
								%dd Valery Drozd
								%dt Drums
								%dd Alexey Palitsyn
								%dt Recording & mixing
								%dd Alexandr Fedorov
						- 4.times do
							%li.video
								%h2 
									%a{:href => "#"} In the skies
								%a.play.button{:href => "#"}
								%dl
									%dt Author & performer
									%dd{:title => "4th Grushensky Festival Winner"} Anvar Ismagilov
									%dt Guitar
									%dd Andrey Zloyan
									%dt Keyboard
									%dd Valery Drozd
									%dt Drums
									%dd Alexey Palitsyn
									%dt Recording & mixing
									%dd Alexandr Fedorov
							- 2.times do |i|
								%li.audio
									%h2 
										%a{:href => "#"} Great song
									%a.play.button{:href => "#"}

									%dl
										%dt Composer
										%dd Gennady Severnyy

										%dt Performer
										%dd Adolf Hitter

									%audio{:src => ""}

							%li
								%h2 Great song with a super long title
								%a.play.button{:href => "#"}

								%dl
									%dt Composer
									%dd Gennady Severnyy

									%dt Performer
									%dd Adolf Hitter

								%audio{:src => ""}
			#footer-pusher
		%footer
			%p Started in 1980 and going strong
			%menu
				%li.selected
					%a{:href => "/"}
						Portfolio							
				%li
					%a{:href => "/"}
						Services
				%li
					%a{:href => "/"}
						About me
				%li
					%a.russian.language{:href => "/"}
						По-русски
					%a.russian.language.icon{:href => "/"}<>

%script{:src => "javascripts/script.js"}