%html
  %head
    %title
      {{page | to_title: "Звукорежиссер"}}
      &mdash; Александр Федоров

    %base{:href => "/"}
    :javascript
      var path = location.pathname;
      var languages = /(?:\/|^)(en|ru|de)\//;
      var language = (path.match(languages) || [null, null])[1];
      if (path.indexOf('/output/') > -1) {
        var base = document.getElementsByTagName('base')[0];
        var root = language 
          ? path.split(language)[0] 
          : path.split('/output/')[0] + '/output/';
        base.setAttribute('href', root);
      }
    %script{:src => "javascripts/script.js"}
    %link{:rel => "stylesheet", :href => "stylesheets/screen.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic"}

    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
  %body{:class => "{{page | to_class}}"}
    #root
      %header
        %section
          .left
            %h1 
              %a{:href => "/about/"} Александр Федоров
              %span<> 
                , 
                %a{:href => "/about/profession/"} звукорежиссёр

            %nav
              %menu
                %li
                  %a{:href => "/"}
                    Работы              
                %li
                  %a{:href => "/about/services/"}
                    Услуги
                %li
                  %a{:href => "/about/"}
                    Резюме
                %li
                  %a.english.language{:href => "{{page.url | to_language: 'en'}}"}<
                    in english
                  %a.english.language.icon{:href => "{{page.url | to_language: 'en'}}"}<>
          %address
            %dl
              %dt.tel
                телефон:
              %dd
                +79044749621
              %dt.email
                почта: 
              %dd
                %a{:href => "#"} me@alexandrfedorov.com

      .contact#contact{:hidden => true}
        %section
          %form
            %fieldset
              %span.error Здравстуйте. Как вас зовут?
              %label{:for => :name} Ваше имя
              %input#name
            %fieldset
              %span.error Как мне с вами связаться?
              %label{:for => :email} Почта
              %input#email
            %fieldset
              %label{:for => :phone} Телефон
              %input#phone

            %fieldset
              %label{:for => :subject}
                Тема
              %select
                %option
                %option Работа
                %option Обучение
                %option Информация
            %fieldset
              %span.error Пожалуйста, продолжайте
              %label{:for => :message} Сообщение
              %textarea#message{:rows => 5, :required => true}
          %section.bar
            %a.cancel{:href => "#", :rel => "uncontact"}<>
              Отмена
            %a.button{:href => "#contact", :rel => "contact"}
              %span
                Связаться 
                %span.verbose со мной


      .introduction
        %section<
          %blockquote
            %a{:href => "/about/profession/"} Профессия звукорежиссера 
            прошла путь от выполнения чисто 
            %a{:href => "/about/technology/"} технической&nbsp;функции
            в области
            %a{:href => "/about/recording/"} звукозаписи
            до полного
            %a{:href => "/about/services/"} творческого участия
            в создании
            %a{:href => "/about/sound/"} произведений искусства

      %main
        %section
          {{content}}
      #footer-pusher
    %footer
      %p 
        %a{:href => "/about/"}<>
          Александр Федоров
      %menu
        %li.selected
          %a{:href => "/"}
            Работы              
        %li
          %a{:href => "/about/services/"}
            Услуги
        %li
          %a{:href => "/about/"}
            Резюме
        %li
          %a.english.language{:href => "{{page.url | to_language: 'en'}}"}<
            in english
          %a.english.language.icon{:href => "{{page.url | to_language: 'en'}}"}<>

%script
  document.ondomready();