---
  layout: ru
---

%h1 Все работы
%menu
  %li
    %a{:href => "/audio/"}
      Аудио
  %li
    %a{:href => "/video/"}
      Видео
  %li
    %a{:href => "/production/"}
      Обработка



%ul.grid
{% for post in site.categories.ru %}{% unless post.skippable %}
{% include post.haml %}
{% endunless %}{% endfor %}